<!-- <div class="xmasListExamples">
    <div class="col-md-3 products">
      <h3 style='color: white'>{{guthriexmasList.gift}}</h3>
      <button type="button" class="btn btn-default" ng-click="addCart(guthriexmasList)" name="button">Add to Cart</button>
      <button type="button" class="btn btn-default" ng-click="" name="button">Review I</button>

      <h5 class="hidden">{{guthriexmasList.store}}</h5>
      <a href="{{guthriexmasList.online}}" class="hidden">Purchase Online</a>
      <h5 style='color: white'>{{guthriexmasList.price}}</h5>
      <img ng-class="image" ng-src="{{guthriexmasList.photo}}" style="width: 200px; max-height: 180px;" alt="" />
    </div>

    <div ng-transclude>
    </div>


  </div> -->
