<!-- <body> -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/xmasList"><i>WISH</i> list</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav"> -->
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li> -->
        <!-- <li class="dropdown"> -->
          <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul> -->
        <!-- </li> -->
      <!-- </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/addList">Admin Login</a></li>
      </ul>
      <!-- <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      <!-- </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="backgroundcontainer">
    <div class="row homepage">
      <div class="col-md-12">
        <h1>Merry Christmas!</h1>
      </div>
        <!-- <div class="intro"> -->
          <!-- <div class="row intro">
            <div class="col-md-6">
              <h3 style="margin-top: 60px">Kick off your shoes,<h3>
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <h3 style="margin-left: -80px;">drink some Nog,<h3>
            </div>
            <div class="col-md-4"></div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <h3 style="margin-left: 150px">and create a <i>WISH</i> list</h3><h3>
              </div>
              <div class="col-md-4"></div>
            </div> -->
          <!-- </div> -->

        <!-- <h3>Made your list...Did you check it twice?</h3> -->
        <div class="row">
          <div class="col-md-12">
            <h2>Kick off your shoes, drink some Nog and create a <i>WISH</i> list</h2>
          </div>
          <div class="col-md-9"></div>
          <div class="col-md-3 btn-group btn-group-lg">
            <button type="button" class="btn btn-default createList" style="margin-top: 20px; margin-left: 25px;" onclick="location.href='#/xmasList';">Create a List&nbsp&nbsp<span class="glyphicon glyphicon-list"</span></button>
          </div>


        <!-- <h4>You can even purchase gifts straight off the list.</h4> -->
        <!-- <a href="#/xmasList" class="button">Start creating a List</a> -->
        <!-- <button ng-click="" a href="#/addList">Start creating a List</button>{{msg}}', -->

        <!-- <div class="col-md-2 btn-group btn-group-lg">
          <input type="button" class="btn btn-default createList" style="" onclick="location.href='#/xmasList';" value="Create List"/>
        </div> -->

        <!-- </div> -->

        <div class="col-md-6 enter">
          <!-- <li><a href="#/addList">ENTER</a></li> -->

        <div class="col-md-5"></div>
      <!-- <div class="col-md-3"></div>
      <div class="col-md-3 btn-group btn-group-lg"> -->
        <!-- <input type="button" class="btn btn-default admin" style="float:left" onclick="location.href='#/addList';" value="Admin Login"/> -->
      <!-- </div> -->



      </div>
    </div>
</div>
<!-- </body> -->



<!-- <div ng-repeat="guthriexmasList in xmasListExamples">
  <h3>{{guthriexmasList.name}}</h3>
  <h3>{{guthriexmasList.gift}}</h3>
  <h5>{{guthriexmasList.store}}</h5>
  <a href="{{guthriexmasList.online}}">Purchase Online</a>
  <h5>{{guthriexmasList.price}}</h5>
  <img ng-src="{{guthriexmasList.photo}}" alt="" />
</div> -->
