<div class="checkout">
<div class="col-md-2 homeCart">
  <input type="button" class="btn btn-default homeCart" style="align-items: center" onclick="location.href='/';" value="Home"/>
</div>

<div class="col-md-6 cart">
  <h1>Shopping Cart</h1>
</div>
<div class="col-md-2">
  <button type="text" name="button" class="btn btn-default cartItems" value=""><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp&nbsp{{numberOfItems}} Items in Cart</button>
</div>
</div>
<cartitem ng-repeat="item in cartCtrl.xmasListCart" cart="item" action="cartCtrl.deleteMe"></cartitem>
