<!-- <body> -->
<div class="container">
    <div class="row homepage">
      <div class="col-md-12">
        <h1>Merry Christmas!</h1>
        <!-- <h3>Made your list...Did you check it twice?</h3> -->
        <h3>Kick off your shoes, drink some Nog and create a <i>WISH</i> list</h3>
      </div>
        <!-- <h4>You can even purchase gifts straight off the list.</h4> -->
        <!-- <a href="#/xmasList" class="button">Start creating a List</a> -->
        <!-- <button ng-click="" a href="#/addList">Start creating a List</button>{{msg}}', -->
        <div class="col-md-3 btn-group btn-group-lg">
          <input type="button" class="btn btn-default createList" style="float:right" onclick="location.href='#/xmasList';" value="Create List"/>
        </div>

      <div class="col-md-3"></div>

      <div class="col-md-3"></div>
      <div class="col-md-3 btn-group btn-group-lg">
        <input type="button" class="btn btn-default admin" style="float:left" onclick="location.href='#/addList';" value="Admin Login"/>
      </div>



      </div>
    </div>
</div>
<!-- </body> -->



<!-- <div ng-repeat="guthriexmasList in xmasListExamples">
  <h3>{{guthriexmasList.name}}</h3>
  <h3>{{guthriexmasList.gift}}</h3>
  <h5>{{guthriexmasList.store}}</h5>
  <a href="{{guthriexmasList.online}}">Purchase Online</a>
  <h5>{{guthriexmasList.price}}</h5>
  <img ng-src="{{guthriexmasList.photo}}" alt="" />
</div> -->
