<h1>Merry Christmas!</h1>
<h3>Made your list...Did you check it twice?</h3>
<h4>Kick off your shoes, drink some Nog and store your Christmas gift list with us!</h4>
<!-- <h4>You can even purchase gifts straight off the list.</h4> -->
<!-- <a href="#/xmasList" class="button">Start creating a List</a> -->
<!-- <button ng-click="" a href="#/addList">Start creating a List</button>{{msg}}', -->
<input type="button" onclick="location.href='#/addList';" value="Create a List"/>
<input type="button" onclick="location.href='#/xmasList';" value="I Already Have a List"/>



<!-- <div ng-repeat="guthriexmasList in xmasListExamples">
  <h3>{{guthriexmasList.name}}</h3>
  <h3>{{guthriexmasList.gift}}</h3>
  <h5>{{guthriexmasList.store}}</h5>
  <a href="{{guthriexmasList.online}}">Purchase Online</a>
  <h5>{{guthriexmasList.price}}</h5>
  <img ng-src="{{guthriexmasList.photo}}" alt="" />
</div> -->
