<div class="list">
  <div class="col-md-3 home">
    <input type="button" class="btn btn-default home" style="align-items: center" onclick="location.href='/';" value="Home"/>
  </div>
  <div class="col-md-6 ideas">
    <h1>Gift Ideas</h1>
  </div>
  <div class="col-md-3">
    <a href='http://localhost:3000/#/cart'><button class="btn btn-default viewCart"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp&nbsp{{numberOfItems}} View Cart</button></a>
  </div>
</div>
<xmas-listitem ng-repeat="item in listCtrl.xmasListExamples" guthriexmas-list="item" action="listCtrl.addCart"></xmas-listitem>
