<div class="list">
  <div class="col-md-3 home">
    <input type="button" class="btn btn-default home" style="align-items: center" onclick="location.href='/';" value="Home"/>
  </div>
  <div class="col-md-6 ideas">
    <h1>Gift Ideas</h1>
  </div>
  <div class="col-md-3">
    <a href='http://localhost:3000/#/cart'><button class="btn btn-default viewCart"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp&nbspView Cart</button></a>
  </div>
</div>



<div ng-repeat="guthriexmasList in xmasListExamples">
  <!-- <div class="row"> -->
  <!-- <h3>{{guthriexmasList.name}}</h3> -->
    <div class="col-md-3 products">
      <h3 style='color: white'>{{guthriexmasList.gift}}</h3>
      <!-- <a href="{{guthriexmasList.online}}"><button>Add to Cart</button></a> -->
      <!-- <button type="button" ng-click="deleteMe(guthriexmasList._id)" name="button">Remove From List</button> -->
      <button type="button" class="btn btn-default" ng-click="addCart(guthriexmasList)" name="button">Add to Cart</button>
      <button type="button" class="btn btn-default" ng-click="" name="button">Review I</button>

      <h5 class="hidden">{{guthriexmasList.store}}</h5>
      <!-- <button on-click="location.href='{{guthriexmasList.online}}';" value="Purchase Online">Purchase Online</button> -->
      <a href="{{guthriexmasList.online}}" class="hidden">Purchase Online</a>
      <h5 style='color: white'>{{guthriexmasList.price}}</h5>
      <img ng-class="image" ng-src="{{guthriexmasList.photo}}" style="width: 200px; max-height: 180px;" alt="" />
    </div>
  </div>
</div>
<!-- </div> -->
